<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwQbAP-I-l8gv_3VzsrwSxzDPqGK8MR9g</string>
	<key>GCM_SENDER_ID</key>
	<string>778878128922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.UTApp</string>
	<key>PROJECT_ID</key>
	<string>utapp-e5152</string>
	<key>STORAGE_BUCKET</key>
	<string>utapp-e5152.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778878128922:ios:c606d69ac30e7d334e52a3</string>
</dict>
</plist>